body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main{
	width: 350px;
	height: 550px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 10px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 560px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-555px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}


.container {
	width: 800px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 5px 20px 50px #000;
}

h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}

.row {
	display: flex;
	justify-content: space-between;
}

.card {
	width: 30%;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 5px 20px 50px #000;
	transition: transform 0.3s ease;
}

.card:hover {
	transform: scale(1.05);
}

.card img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.card-body {
	padding: 15px;
	text-align: center;
}

.card-title {
	font-size: 1.5em;
	margin-bottom: 10px;
	color: #573b8a;
}

.card-text {
	font-size: 1em;
	color: #333;
	margin-bottom: 20px;
}

.btn {
	width: 80%;
	padding: 10px;
	margin: 0 auto;
	display: block;
	color: #fff;
	background: #573b8a;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.2s ease-in;
}

.btn:hover {
	background: #6d44b8;
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: auto;
    padding: 5px 10px;
    font-size: 0.9em;
    background: #573b8a;
}

.logout-btn:hover {
    background: #6d44b8;
}

.billing-btn {
    position: absolute;
    top: 20px;
    right: 100px; /* Adjust this value to position the button to the left of the logout button */
    width: auto;
    padding: 5px 10px;
    font-size: 0.9em;
    background: #573b8a;
}

.billing-btn:hover {
    background: #6d44b8;
}

.update-btn {
    position: absolute;
    top: 20px;
    right: 229px; /* Adjust this value to position the button to the left of the logout button */
    width: auto;
    padding: 5px 10px;
    font-size: 0.9em;
    background: #573b8a;
}

.update-btn:hover {
    background: #6d44b8;
}

.updateDetails {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.update.card {
    width: 30%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 20px 50px #000;
    padding: 15px;
}

.update.card label {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #573b8a;
    display: block;
    text-align: center;
}

.update.card input {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background: #e0dede;
    display: block;
}

.validate-btn, #submitBtn {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    color: #fff;
    background: #573b8a;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease-in;
}

.validate-btn:hover, #submitBtn:hover {
    background: #6d44b8;
}

/* Add these styles */
.user-profile {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

/* Add these styles */
.profile-icon {
    font-size: 50px;
    color: #ffffff;
    margin-right: 10px;
}


.user-id {
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
}

.billingDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.styled-table {
    width: 60%;
    margin: 25px 0;
    font-family: 'Arial', sans-serif;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    text-align: center;
}

.styled-table thead tr {
    background-color: #573b8a;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
    font-weight: normal;
    color: #333333;
}

.styled-table th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #573b8a;
}

.billingDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.styled-table {
    width: 60%;
    margin: 25px 0;
    font-family: 'Arial', sans-serif;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    text-align: center;
}

.back-button {
    margin-top: 10px;
    padding: 6px 12px;  /* Smaller padding */
    font-size: 12px;    /* Smaller font size */
    font-weight: bold;
    color: #ffffff;
    background-color: #573b8a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #6d44b8;
}

#vmDiv {
    margin: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#vendorTable {
    width: 90%; /* Increased width to cover more space */
    margin: 25px auto;
    font-family: 'Arial', sans-serif;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    text-align: center;
}

#vendorTable thead tr {
    background-color: #573b8a;
    color: #ffffff;
}

#vendorTable th,
#vendorTable td {
    padding: 15px 20px; /* Increased padding for a more spacious look */
    text-align: center;
    font-weight: normal;
    color: #333333;
}

#vendorTable th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#vendorTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

#vendorTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#vendorTable tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#vendorTable tbody tr:last-of-type {
    border-bottom: 2px solid #573b8a;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

#vmDiv {
    margin: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#vendorTable {
    width: 90%;
    margin: 25px auto;
    font-family: 'Arial', sans-serif;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    text-align: center;
}

#vendorTable thead tr {
    background-color: #573b8a;
    color: #ffffff;
}

#vendorTable th,
#vendorTable td {
    padding: 15px 20px;
    text-align: center;
    font-weight: normal;
    color: #333333;
}

#vendorTable th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#vendorTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

#vendorTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#vendorTable tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#vendorTable tbody tr:last-of-type {
    border-bottom: 2px solid #573b8a;
}

#purchaseBtn {
    width: 150px;
    padding: 10px;
    margin: 20px auto;
    display: block;
    color: #fff;
    background: #573b8a;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease-in;
}

#purchaseBtn:hover {
    background: #6d44b8;
}

#backBtnnnnn{
    width: 150px;
    padding: 10px;
    margin: 20px auto;
    display: block;
    color: #fff;
    background: #573b8a;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease-in;
}

#backBtnnnnn:hover {
    background: #6d44b8;
}